os:
  - linux
dist: bionic
language: python
python:
  - "3.7"
  - "3.8"

if: (type == push) OR (type == pull_request AND fork == true)

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda env create --file environment.yml
  - conda env update --file environment-dev.yml
  - conda activate htsinfer

jobs:
  include:
    - stage: test
      name: Run build, style, unit & integration tests
      before_script:
        - python setup.py install
      script:
        # style tests
        - flake8
        - pylint --rcfile pylint.cfg setup.py htsinfer/
        - mypy htsinfer
        # unit tests
        - coverage run --source htsinfer -m pytest
        - coveralls
        # integration tests
        - htsinfer --help
        - htsinfer --debug -f1 tests/test_files/first_mate.fastq
